<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.fw.shopping.cart.repository.ICartMapper">
 
 	<resultMap id="CartMap" type="com.fw.shopping.cart.model.CartJoinVO">
 		<id property="cartNo" column="cart_no"/>
 		<id property="gdsNo" column="gds_no"/>
 		<id property="optionNo" column="option_no"/>
 		<result property="userNo" column="user_no" />
 		<result property="cartStock" column="cart_stock" />
 		<result property="cartRegDate" column="cart_reg_date" />
 		<result property="gdsName" column="gds_name" />
 		<result property="optionName" column="option_name" />
 		<result property="gdsPrice" column="gds_price"/>
 		<result property="optionAddPrice" column="option_add_price"/>
 	</resultMap>
 	
 	<!-- 내 장바구니 목록 -->
 	<select id="getCartList" parameterType="int" resultMap="CartMap">
	 	select *
		from cart_tb
		join goods_tb on cart_tb.gds_no = goods_tb.gds_no
		join option_tb on cart_tb.option_no = option_tb.option_no
		where user_no=#{userNo}
 	</select>
 	
 	<insert id="addCart">
		INSERT INTO 
		shopping_mall.cart_tb 
		(user_no, gds_no, option_no, cart_stock) 
		VALUES (#{userNo}, #{gdsNo}, #{optionNo}, #{cartStock});
	</insert>
 	
 	<!-- 장바구니 삭제 -->
 	<delete id="deleteCart">
 		delete from cart_tb
 		where cart_no=#{cartNo}
 	</delete>
	

		
</mapper>