<!DOCTYPE html>
<html>
<head>
	<title>주문관리 페이지</title>
</head>
<body>
	<h1>주문관리 페이지</h1>
		 <table border="1px solid black" style="border-collapse:collapse;">
		<tr>
			<th>주문번호</th>
			<th>상품옵션수량</th>
			<th>상품 송장번호</th>
			<th>확인</th>
		</tr>
		<tr>
			<td>1</td>
			<td>20</td>
			<td><input type="number" name="invoicenum"></td>
			<td><button>등록</button></td>
		</tr>
		<tr>
			<td>2</td>
			<td>20</td>
			<td><input type="number" name="invoicenum"></td>
			<td><button>등록</button></td>
		</tr>
	</table>
</body>
</html>