<html><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>admin 페이지</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <h1>ADMIN 페이지</h1>
    <h3>상품문의 답변 페이지</h3>
    <table>
        <tr>
            <th>주문번호</th>
            <th>상품명</th>
            <th>문의제목</th>
            <th>답변하기</th>
        </tr>
        <tr>
            <td>1</td>
            <td>데일리뭐시기</td>
            <td>취소어케해요?</td>
            <td><button>답변완료</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>스페셜어쩌구</td>
            <td>사이즈 문의좀</td>
            <td><button>답변</button></td>
        </tr>
    </table>

</body>

</html></html>