<html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin 페이지</title>
         <style>
        table, th, td {
    border : 1px solid black;
    border-collapse:collapse;}
    </style>
</head>
<body>
   <h1>ADMIN 페이지</h1>
   <h3>취소, 교환, 환불 페이지</h3>
    <table>
    <tr><th>주문번호</th><th>상품옵션수량</th><th>고객요청</th><th>승인여부</th></tr>
     <tr><td>1</td><td>2000</td><td>삭제</td><td>-</td></tr>
     <tr><td>2</td><td>3000</td><td>교환/환불</td>
     <td><button>승인</button><button>거부</button></td></tr> 
</table>
    
</body>
</html></html>