<html><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
</head>

<body>
    <h3>장바구니</h3>
    <button><a href="mainPage(login).html">이전으로</a></button>
    <p>
        <input type="checkbox">
        <a href="goodsDetailPage.html">
            <img src="http://placehold.it/200x200" width="200" , height="200"> </a>
        상품명 / 옵션 / 가격 / 판매가 / 수량
    </p>
    <hr>
    <p>
        <input type="checkbox">
        <a href="goodsDetailPage.html">
            <img src="http://placehold.it/200x200" width="200" , height="200"> </a>
        상품명 / 옵션 / 가격 / 판매가 / 수량
    </p>
    <br>
    <p>전체가격 / 배송비 / 합계</p>

    <a href="orderDetailPage.html"><input type="button" value="전체상품 주문"> </a>
    <a href="orderDetailPage.html"><input type="button" value="선택 상품 주문"></a>
</body>

</html></html>