<!DOCTYPE html>
<html>
<head>
    <title>faq 페이지</title>
</head>

<body>
    <h1>FAQ</h1>
    <table border="1px solid black" style="border-collapse:collapse;">
        <tr>
            <th>No.</th>
            <th>제목</th>
            <th>작성일</th>
        </tr>
        <tr>
            <td>1</td>
            <td>평균배송일은... </td>
            <td>2020-11-07</td>
        </tr>
        <tr>
            <td>2</td>
            <td>교환, 환불은... </td>
            <td>2020-11-07</td>
        </tr>
    </table>
</body></html>