<!DOCTYPE html>
<html>
<head>
    <title>상품상세보기 페이지</title>
</head>

<body>
    <h1> 상품 상세보기</h1>
    <img src="http://placehold.it/300x300"> <br> <br>

    상품명 : 데일리 셔츠 어쩌구 <br> <br>
    가격 : 12000 <br> <br>
    옵션 <select>
        <option value='...' selected>선택</option>
        <option value="...">1</option>
        <option value="...">2</option>
        <option value="...">3</option>
    </select> <br><br>
    수량 <input type="number" name="gds_amount"> <br><br>
    <button><a href="cartPage.html">장바구니 넣기</a></button> <br><br>
    <img src="http://placehold.it/400x400"> <br><br> <br><br>



</body></html>