<!DOCTYPE html>
<html>
<head>
    <title>로그인 페이지</title>
    <h1>로그인하기</h1>
    이메일 &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;<input type="email" name="email"> <br><br>
    비밀번호 &nbsp; &nbsp; <input type="password" name="password"> <br><br>
    <button><a href="mainPage(login).html">로그인</a></button> <br><br>
    <button><a href="mainPage(login).html">간편 로그인</a></button> <br><br>
    <button><a href="joinMembershipPage.html">회원가입</a></button><br> <br>
    <button><a href="adminMainPage.html">admin</a></button>
</head>

<body>

</body></html>