<!DOCTYPE html>
<html>
   <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>쇼핑몰 시작화면</title>

</head>

<body>
    <h3>header</h3>
    <p>
        <button><a href="loginPage.html">로그인</a></button>
        <button><a href="loginPage.html">마이페이지</a></button>
        <button><a href="cartPage.html">장바구니</a></button>

    </p>
    <input type="text" placeholder="search">
    <br>
    <br>
    <button><a href="goodsListPage.html">상의</a></button>
    <button><a href="goodsListPage.html">상의</a></button>
    <button><a href="goodsListPage.html">상의</a></button>
    <button><a href="goodsListPage.html">상의</a></button>
    <button><a href="goodsListPage.html">상의</a></button>


    <br>

    <tr>
        <a href="goodsDetailPage.html"><img src="http://placehold.it/600x300" width="600" , height="300"> </a>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/55Tu-jXQAHY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </tr>
    <footer>footer</footer>
</body></html>