<html><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>내글 관리</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <h3>내가 쓴 Q&A</h3>
    <table>
        <tr>
            <th>NO.</th>
            <th>Name</th>
            <th>value</th>
            </tr>
        <tr>
            <td>1</td>
            <td><button><a href="goodsInquiryPage.html">제목</a></button></td>
            <td><button>수정</button><button>삭제</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>.</td>
            <td>.</td>
        </tr>
    </table>
    <br>
    <h3>내가 쓴 리뷰</h3>
    <table>
        <tr>
            <th>NO.</th>
            <th>Name</th>
            <th>value</th>
        </tr>
        <tr>
            <td>1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td></td>
            <td></td>
        </tr>
    </table>

</body></html>