<!DOCTYPE html>
<html>
<head>
    <title>구매페이지</title>
</head>

<body>
    <h1> 구매하기 </h1>
    <p>----------------------------------------------------------------</p>
    <h2>주문 정보 작성</h2>
    이름 &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input type="text" name="name"> <br> <br>
    주소 &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input type="text" name="address"> <br> <br>
    상세주소 &nbsp;<input type="text" name="address2"> <br> <br>
    전화번호 &nbsp;<input type="tel" name="tel">

    <h2>배송정보</h2>
    이름 &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input type="text" name="name"> <br> <br>
    주소 &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input type="text" name="address"> <br> <br>
    상세주소 &nbsp;<input type="text" name="address2"> <br> <br>
    전화번호 &nbsp;<input type="tel" name="tel">
</body></html>