<html><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <title>Q&A</title>
</head>

<body>
    <h3>Q&A</h3>
    <table>



        <tr>
            <th>NO.</th>
            <th>문의제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        <tr>
            <td>1</td>
            <td>사이즈가</td>
            <td>1234</td>
            <td>2020/11/07</td>
        </tr>
        <tr>
            <td>2</td>
            <td>색상이..</td>
            <td>1222</td>
            <td>2020/11/08</td>
        </tr>

    </table>
    <button>이전</button>
    <button>다음</button>
    <button><a href="qnaWritePage.html">문의하기</a></button>
</body>

</html></html>